@{
  ViewData["Title"] = "Create Animal";
}

@model CretaceousClient.Models.Animal

<h4>Add a new animal to Cretaceous Park</h4>

@using(Html.BeginForm())
{
  @Html.LabelFor(m => m.Name)
  @Html.TextBoxFor(m => m.Name)
  <br>
  @Html.LabelFor(m => m.Species)
  @Html.TextBoxFor(m => m.Species)
  <br>
  @Html.LabelFor(m => m.Age)
  @Html.TextBoxFor(m => m.Age)
  <br>
  <br>
  <input type="submit" value="Add new animal" class="btn btn-primary"/>
}

<br>
<p>@Html.ActionLink("Back to all animals", "Index")</p>
